
.Lsu_a {
    font-family: "Microsoft YaHei";
     background-image: url(d.jpg);
    background-size:cover;
}

.Lsu_b {
    width: 1000px;
    height: 1800px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    text-align: center;
    font-family: "Microsoft YaHei";
}
