.Lsu_5-1 {
    font-family: "Microsoft YaHei";
}

.Lsu_5-2 {
    width: 1000px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.Lsu_5-3 {
    width: 150px;
    height: 25px;
    background-color: #8A2BE2;
    position: absolute;
    transition: 0.4s;
    border-radius: 6px;
    box-sizing: border-box;
    left: 100px;
    top: 100px;
}

@keyframes mov2 {
    from {
        right: 0px;
    }
    to {
        right: 880px;
    }
}

.Lsu_5-3:hover {
    height: 400px;
    transform: scale(1.03, 1.03);
    box-shadow: 2px 2px 3px gray;
}

.Lsu_5-3：hover {
    height: 400px;
}

.Lsu_5-4 {
    width: 150px;
    height: 25px;
    background-color: #00FFFF;
    position: absolute;
    transition: 0.4s;
    border-radius: 6px;
    box-sizing: border-box;
    top: 30px;
}

.Lsu_5-4:active {
    transform: scale(1.03, 1.03);
    box-shadow: 2px 2px 3px gray;
    height: 400px;
}

.Lsu_5-5 {
    width: 150px;
    height: 25px;
    background-color: #FF6347;
    position: absolute;
    transition: 0.4s;
    border-radius: 6px;
    box-sizing: border-box;
    left: 250px;
    top: 25px;
}

.Lsu_5-5::selection {
    color: #FF6347;
}

.Lsu_5-6 {
    width: 150px;
    height: 25px;
    background-color: #006400;
    position: absolute;
    border-radius: 6px;
    box-sizing: border-box;
    left: 20px;
    top: 200px;
}

.Lsu_5-6:active {
    color: transparent;
    width: 600px;
    height: 75px;
    font-size: 350%
}

.Lsu_5-6:active:before {
    content: "Haha~ you idiot~!!!";
    color: aliceblue;
    border: 5px dotted;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.Lsu_5-7 {
    width: 150px;
    height: 25px;
    background-color: #8B008B;
    position: absolute;
    border-radius: 6px;
    box-sizing: border-box;
    top: 290px;
}

.Lsu_5-7:active {
    animation: mov1 1s infinite;
}

@keyframes mov1 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(200px) translateY(-15px) rotate(-180deg);
        background-color: white;
    }
    100% {
        transform: translateX(0px);
    }
}

.Lsu_5-8 {
    width: 150px;
    height: 25px;
    background-color: #6495ED;
    position: absolute;
    border-radius: 6px;
    box-sizing: border-box;
    left: 200px;
    top: 170px;
}

.Lsu_5-8:active {
    background-image: url(heart.png);
    color: transparent;
    width: 400px;
    height: 350px;
}

.Lsu_5-8:active:before {
    content: "加油~！";
    color: black;
    font-size: 600%;
}

.Lsu_5-9 {
    position: absolute;
    margin-left: 380px;
    margin-top: 120px;
}

#button1 {
    width: 150px;
    height: 25px;
    background-color: #A52A2A;
    border-radius: 6px;
}

#Lsu_5-10 {
    position: absolute;
    left: 200px;
    top: 250px;
    width: 100px;
    height: 50px;
}

.Lse_5-11 {
    width: 200px;
    box-sizing: border-box;
    height: 400px;
    position: absolute;
    left: 500px;
    top: 200px;
    border-radius: 20px;
    background-color: #fff;
    opacity: 0;
}

.Lse_5-11_1 {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 95px;
    top: 15px;
    border-radius: 10px;
    background-color: black;
}

.Lse_5-11_2 {
    width: 40px;
    height: 6px;
    position: absolute;
    left: 80px;
    top: 30px;
    border-radius: 5px;
    background-color: black;
}

.Lse_5-11_3 {
    width: 8px;
    height: 8px;
    position: absolute;
    left: 65px;
    top: 29px;
    border-radius: 8px;
    background-color: black;
}

.Lse_5-11_4 {
    width: 180px;
    height: 300px;
    position: absolute;
    background-color: black;
    left: 10px;
    top: 50px;
    border-radius: 5px;
    color: aliceblue;
}

.Lse_5-11_5 {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 40px;
    background-color: silver;
    left: 80px;
    bottom: 5px
}

.Lse_5-11_6 {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 35px;
    position: absolute;
    left: 2.5px;
    top: 2.5px
}

#go {
    width: 75px;
    height: 25px;
    background-color: #FF8C00;
    border-radius: 6px;
    box-sizing: border-box;
}

#hah {
    position: absolute;
    top: 30px;
    left: 510px;
}

#gone {
    width: 75px;
    height: 25px;
    background-color: #FF8C00;
    border-radius: 6px;
    box-sizing: border-box;
}

body {
    background-image: url(25.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.image {
    
}



.photo-wrap:hover{
    transition:(rotateY(180deg),5000);
}



.photo_front .photo-wrap {
     transform: rotateY(0deg);
}
